.content {
    flex: 1;
    overflow-y: auto;
    height: 88.5vh;
    padding: 0 16px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18.67px;
    background-color: #FFFDDA;
}

.content .ant-typography {
    font-family: inherit;
}

.content_inner {
    width: 220mm;
    margin: 0 auto;
    padding: 0 2.5cm;
    border: 1px solid #C7C7C7;
    border-top: none;
    border-bottom: none;

    text-align: justify;
    background-color: #fff;
}