@use '@/shared/utils/variables.scss' as *;

$image-width: 550px;
$text-size: convert-points-to-pixels($title-text-size-points);

.main {
    text-align: center;
    font-size: $text-size;
    font-weight: bold;
    color: $title-text-color;
    
    .education_title, .authors {
        text-transform: uppercase;
    }
    .title_image {
        width: $image-width;
    }
}