$default-indentation-value: .5in;
$default-title-vertical-margin: 14pt;

$header-h: 48.8px;

$default-font-size: 14pt;
$default-titlePage-font-size: 16pt;
$default-black-color: #000;
$default-blue-color: #4c94d8;