/* Roboto from Google Fonts [https://fonts.google.com] */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 14px;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}