@use "sass:math";
@use '@/shared/utils/variables' as *;

$margin: $default-font-size;
$anchor-scroll-mt: 25px;
$anchor-mt: 35px;

.check_list {
    > li {
        margin-bottom: $margin;
        > ol {
            margin-top: $margin;
            > li {
                margin: math.div($margin, 3);
            }
        }
    }
}

.lesson_list {
    > li {
        margin-bottom: $margin;
        li {
            margin: math.div($margin, 2);
        }
    }
    margin-bottom: 7pt;
}

.materials {
    > li {
        margin: math.div($margin, 3);
    }
}

.anchor {
    scroll-margin-top: calc($anchor-scroll-mt + $header-h);
    margin-top: $anchor-mt !important;
}