@use '@/shared/utils/constants' as *;

.custom-typography-title {
    font-weight: bold;

    &.color-dark { color: $default-black-color }
    &.color-blue { color: $default-blue-color }

    &.size-14 { font-size: $default-font-size }
    &.size-16 { font-size: $default-titlePage-font-size }
}

.custom-typography-text {
    &.indented {
        text-indent: $default-indentation-value;
    }
}

.custom-typography-span {
    color: $default-blue-color;
    font-weight: bold;
}