@use '@/shared/utils/variables' as *;

.custom-typography-title {
    font-weight: bold;
    &.margined {
        margin-top: $default-title-vertical-margin;
        margin-bottom: $default-title-vertical-margin;
    }
}

.custom-typography-text {
    &.indented {
        text-indent: $default-indentation-value;
    }
}

.custom-typography-span {
    font-weight: bold;
}

.color-dark { color: $default-black-color }
.color-blue { color: $default-blue-color }

.size-14 { font-size: $default-font-size }
.size-16 { font-size: $default-titlePage-font-size }