$header-bg: #163269;
$header-p: 16px 32px;
$header-color: #fff;
$header-link-color-hover: #c0c0c0;
$header-link-fs: 18px;
$header-mb: 32px;

.header {
    background-color: $header-bg;
    padding: $header-p;
    color: $header-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: $header-mb;

    .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_link {
            font-size: $header-link-fs;
            color: inherit;
        }
        .header_link:hover {
            color: $header-link-color-hover;
        }
    }
}