@use '@/shared/utils/variables' as *;

$menu-width: 400px;
$menu-l: 0;

$tooltip-max-width: 500px;

.menu {
    position: sticky;
    overflow-y: auto;
    top: $header-h;
    left: 0;
    height: calc(100vh - $header-h);
    width: $menu-width;

    .anchor {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}